<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)=save(f)>

    <div class="ui-g">
      <div class="ui-g-12">
        <h1> {{ editing ? 'Editar' : 'Nova'}} Embalagem</h1>
      </div>


      <div class="ui-g-3 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="name" [(ngModel)]=packing.name
        ngModel  #name="ngModel" required minlength="2">
        <app-message [control]="name" error="required"
          text="Informe o Nome"></app-message>
        <app-message [control]="name" error="minlength"
          text="Mínimo de {{ name.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-3 ui-fluid">
        <label>Tipo de Embalagem</label>
        <input pInputText type="text" name="packingType" [(ngModel)]=packing.packingType
        ngModel #boxColor="ngModel" required minlength="2">
        <app-message [control]="boxColor" error="required"
        text="Informe o Tipo de Embalagem"></app-message>
      <app-message [control]="boxColor" error="minlength"
        text="Mínimo de {{ boxColor.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-2 ui-fluid">
        <label>Ovos/Embalagem</label>
        <input pInputText type="number" name="quantityByPacking"
          [(ngModel)]="packing.quantityByPacking"
          required>
      </div>

      <div class="ui-g-2 ui-fluid">
        <label>Embalagens/Caixa</label>
        <input pInputText type="number" name="packingByBox"
          [(ngModel)]="packing.packingByBox"
          required>
      </div>

      <div class="ui-g-2 ui-fluid">
        <label>Ovos/Caixa</label>
        <input pInputText type="number" name="quantityByBox"
          [(ngModel)]="packing.quantityByBox"
          required>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid" 
        class="espaco-icones" icon="pi pi-save"></button>
        <button pButton type="button" label="Limpar" 
        class="ui-button-info" (click)="new(f)" class="espaco-icones" icon="pi pi-times"></button>
        <button pButton type="button" label="Voltar" 
        class="ui-button-info" routerLink="/Packings" class="espaco-icones" icon="pi pi-undo"></button>
      </div>
    </div>

  </form>
</div>

