<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)=save(f)>

    <div class="ui-g">
      <div class="ui-g-12">
        <h1> {{ editing ? 'Edição de' : 'Novo'}} Monitoramento de Criação</h1>
      </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Data</label>
          <p-calendar dateFormat="dd/mm/yy" name="dateWeek"
            [(ngModel)]="creationMonitoring.dateWeek"></p-calendar>
        </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Semanas</label>
        <input pInputText type="number" name="ageWeek"
          [(ngModel)]="creationMonitoring.ageWeek"
          required>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Dias</label>
          <input pInputText type="number" name="ageDay"
            [(ngModel)]="creationMonitoring.ageDay"
            required>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Peso Corporal (g)</label>
        <input pInputText type="number" name="bodyWeight"
          [(ngModel)]="creationMonitoring.bodyWeight"
          required>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Ração (g)</label>
        <input pInputText type="number" name="food"
          [(ngModel)]="creationMonitoring.food"
          required>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Água (l)</label>
        <input pInputText type="number" name="bodyWeight"
          [(ngModel)]="creationMonitoring.water"
          required>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Descarte</label>
        <input pInputText type="number" name="discard"
          [(ngModel)]="creationMonitoring.discard"
          required>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Mortalidade</label>
        <input pInputText type="number" name="mortality"
          [(ngModel)]="creationMonitoring.mortality"
          required>
      </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Lote</label>
        <p-dropdown name="chickenLot" [options]="chickenLots" placeholder="Selecione"
          [filter]="true"
          [(ngModel)]="creationMonitoring.chickenLot.id"
          required></p-dropdown>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
        (click)="new(f)"></button>
        <a routerLink="/CreationMonitorings">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
