<div class="container">
  <div class="ui-g">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="findByFilter()">

      <div class="ui-g-12">
        <h1>Linhagens</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Linhagem</label>
        <input pInputText type="text" name="lineage" [(ngModel)]="filter.lineage">
      </div>

      <div class="ui-g-12">
        <button label="Pesquisar" pButton type="submit" class="espaco-icones" icon="pi pi-search" tooltipPosition="top"></button>
        <button label="Limpar" pButton type="button" class="espaco-icones" icon="pi pi-times" tooltipPosition="top" (click)="new(f)"></button>
        <button label="Adicionar" pButton type="button" class="espaco-icones" routerLink="/ChickenLineages/new"
        icon="pi pi-plus" tooltipPosition="top"></button>
      </div>
  </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="chickenLineages" [paginator]="true" [rows]="filter.itensByPage"
      [lazy]="true" [totalRecords]="totalRegisters" (onLazyLoad)="onChangePage($event)"
      [responsive]="true" #table>
        <ng-template pTemplate="header">
            <tr>
                <th>Linhagem</th>
                <th>Cor</th>
                <th>Fornecedor</th>
                <th>Ações</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chickenLineage>
            <tr>
                <td class="col-data" >{{chickenLineage.lineage}}</td>
                <td class="col-data">{{chickenLineage.chickenColor}}</td>
                <td class="col-data">{{chickenLineage.provider}}</td>
                <td class="col-acoes" >
                  <a pButton class="espaco-icones" icon="pi pi-pencil"
                  pTooltip="Editar" tooltipPosition="top"
                  [routerLink]="['/ChickenLineages', chickenLineage.id]"></a>
                  <button pButton class="espaco-icones" icon="pi pi-trash"
                  pTooltip="Excluir" tooltipPosition="top" (click)="delete(chickenLineage)"></button>
               </td>
            </tr>
        </ng-template>

      <ng-template pTemplate="emptymessage">
          Nenhuma linhagem encontrada
      </ng-template>
    </p-table>
    </div>

  </div>

</div>
