<div class="container">
  <div class="ui-g">
      <form autocomplete="off" (ngSubit)="findByFilter()">

      <div class="ui-g-12">
        <h1>Linhagem de Aves</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Linhagem</label>
        <input pInputText type="text" name="lineage" [(ngModel)]="lineage">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
  </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="chickenLineages" [paginator]="true" [rows]="4" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Linhagem</th>
                <th>Cor</th>
                <th>Fornecedor</th>
                <th>Ações</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chickenLineage>
            <tr>
                <td >{{chickenLineage.lineage}}</td>
                <td>{{chickenLineage.chickenColor}}</td>
                <td>{{chickenLineage.provider}}</td>
                <td class="col-acoes">
                  <a pButton class="espaco-icones" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                  <button pButton class="espaco-icones" icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
               </td>
            </tr>
        </ng-template>
    </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Linhagem" routerLink="/ChickenLineages/new"></a>
    </div>

  </div>

</div>
