<div class="container">
  <div class="ui-g">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="findByFilter()">

      <div class="ui-g-12">
        <h1>Ovos de Matéria Prima</h1>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Lote de Ovos</label>
        <p-dropdown name="eggLots" [options]="eggLots" placeholder="Selecione"
          [filter]="true"
          [(ngModel)]="filter.eggLot"
          required ></p-dropdown>
      </div>

      <div class="ui-g-3">
        <label style="display: block">Produção</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="productionDateInitial" [(ngModel)]="filter.productionDateInitial"></p-calendar>

        <label class="espaco-icones">até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="productionDateFinal" [(ngModel)]="filter.productionDateFinal"></p-calendar>
      </div>

      <div class="ui-g-3">
        <label style="display: block">Validade</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="validityDateInitial" [(ngModel)]="filter.validityDateInitial"></p-calendar>

        <label class="espaco-icones">até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="validityDateFinal" [(ngModel)]="filter.validityDateFinal"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button label="Pesquisar" pButton type="submit" class="espaco-icones" icon="pi pi-search" tooltipPosition="top"></button>
        <button label="Limpar" pButton type="button" class="espaco-icones" icon="pi pi-times" tooltipPosition="top" (click)="new(f)"></button>
        <button label="Adicionar" pButton type="button" class="espaco-icones" routerLink="/EggBases/new"
        *ngIf="!isSelect" icon="pi pi-plus" tooltipPosition="top"></button>
      </div>
  </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="eggBases" [paginator]="true" [rows]="filter.itensByPage"
      [lazy]="true" [totalRecords]="totalRegisters" (onLazyLoad)="onChangePage($event)"
      [responsive]="true" #table>
        <ng-template pTemplate="header">
            <tr>
                <th>Lote de Ovos</th>
                <th>Caixa</th>
                <th>Quantidade</th>
                <th>Produção</th>
                <th>Validade</th>
                <th>Status</th>
                <th class="col-acoes-header">Ações</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eggBase>
            <tr>
                <td class="col-data" >{{eggBase.eggLot.name}}</td>
                <td class="col-data" >{{eggBase.eggLot.boxColor}}</td>
                <td class="col-data" >{{eggBase.quantity}}</td>
                <td class="col-data">{{eggBase.productionDate | date:'dd/MM/yyyy'}}</td>
                <td class="col-data">{{eggBase.validityDate | date:'dd/MM/yyyy'}}</td>
                <td class="col-data" ><span class="p-tag">{{eggBase.industryStatus}}</span></td>
                <td class="col-acoes" >
                  <button  pButton  class="espaco-icones" icon="pi pi-pencil"
                  pTooltip="Editar" tooltipPosition="top"
                  [routerLink]="['/EggBases', eggBase.id]" *ngIf="!isSelect"></button>
                  <button pButton  class="espaco-icones" icon="pi pi-trash"
                  pTooltip="Excluir" tooltipPosition="top" (click)="delete(eggBase)" *ngIf="!isSelect"></button>
                  <button pButton  class="espaco-icones" icon="pi pi-plus"
                  pTooltip="Selecionar" tooltipPosition="top" (click)="feedback(eggBase)" *ngIf="isSelect"></button>
               </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhum Ovos de Matéria Prima encontrado
            </td>
          </tr>

        </ng-template>
    </p-table>
    </div>

  </div>

</div>
