<div class="container">
  <div class="ui-g">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="findByFilter()">

      <div class="ui-g-12">
        <h1>Lotes de Ovos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="name" [(ngModel)]="filter.name">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Caixa</label>
        <input pInputText type="text" name="boxColor" [(ngModel)]="filter.boxColor">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" class="espaco-icones"></button>
        <button pButton type="button" label="Limpar" class="espaco-icones"
        (click)="new(f)"></button>
      </div>
  </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="eggLots" [paginator]="true" [rows]="filter.itensByPage"
      [lazy]="true" [totalRecords]="totalRegisters" (onLazyLoad)="onChangePage($event)"
      [responsive]="true" #table>
        <ng-template pTemplate="header">
            <tr>
                <th>Lote</th>
                <th>Nome</th>
                <th>Cor da caixa</th>
                <th>Ações</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eggLot>
            <tr>
                <td class="col-data" >{{eggLot.id}}</td>
                <td class="col-data">{{eggLot.name}}</td>
                <td class="col-data">{{eggLot.boxColor}}</td>
                <td class="col-acoes" >
                  <a pButton class="espaco-icones" icon="pi pi-pencil"
                  pTooltip="Editar" tooltipPosition="top"
                  [routerLink]="['/EggLots', eggLot.id]"></a>
                  <button pButton class="espaco-icones" icon="pi pi-trash"
                  pTooltip="Excluir" tooltipPosition="top" (click)="delete(eggLot)"></button>
               </td>
            </tr>
        </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">
            Nenhum lote de ovos encontrado
          </td>
        </tr>
          
      </ng-template>
    </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Linhagem" routerLink="/EggLots/new"></a>
    </div>

  </div>

</div>
