<div class="container">
  <form autocomplete="off">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Linhagem de Aves</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="chickenColor" [options]="chickenColors"></p-selectButton>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Linhagem</label>
        <input pInputText type="text" name="lineage"
        ngModel  #lineage="ngModel" required minlength="5">
        <app-message [control]="lineage" error="required"
          text="Informe a Linhagem"></app-message>
        <app-message [control]="lineage" error="minlength"
          text="Mínimo de {{ lineage.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Fornecedor</label>
        <input pInputText type="text" name="provider"
        ngModel #provider="ngModel" required minlength="5">
        <app-message [control]="provider" error="required"
        text="Informe o Fornecedor"></app-message>
      <app-message [control]="provider" error="minlength"
        text="Mínimo de {{ lineage.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>


      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" ></button>
        <button pButton type="button" label="Novo"></button>
        <a routerLink="/ChickenLineages">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
