<div class="container">
    <div class="ui-g">
        <form #f="ngForm" autocomplete="off" (ngSubmit)="findByFilter()">

        <div class="ui-g-12">
          <h1>Produtos</h1>
        </div>

        <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Tipo de Ovos</label>
          <p-dropdown name="eggTypes" [options]="eggTypes" placeholder="Selecione"
            [filter]="true"
            [(ngModel)]="filter.eggType"
            required ></p-dropdown>
        </div>

        <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Embalagem</label>
          <p-dropdown name="packings" [options]="packings" placeholder="Selecione"
            [filter]="true"
            [(ngModel)]="filter.packing"
            required ></p-dropdown>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" class="espaco-icones" icon="pi pi-search"
          pTooltip="Pesquisar" tooltipPosition="top"></button>
          <button pButton type="button" class="espaco-icones" icon="pi pi-times"
          pTooltip="Limpar" tooltipPosition="top" (click)="new(f)"></button>
          <button pButton type="button" class="espaco-icones" routerLink="/Products/new"
          icon="pi pi-plus" pTooltip="Adicionar" tooltipPosition="top"></button>
        </div>

      </form>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="products" [paginator]="true" [rows]="filter.itensByPage"
        [lazy]="true" [totalRecords]="totalRegisters" (onLazyLoad)="onChangePage($event)"
        [responsive]="true" #table>
          <ng-template pTemplate="header">
              <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>Embalagem</th>
                  <th class="col-acoes-header">Ações</th>

              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                  <td class="col-data" >{{product.nick}}</td>
                  <td class="col-data" >{{product.eggType.type}}</td>
                  <td class="col-data" >{{product.packing.name}}</td>
                  <td class="col-acoes" >
                    <button  pButton  class="espaco-icones" icon="pi pi-pencil"
                    pTooltip="Editar" tooltipPosition="top"
                    [routerLink]="['/Products', product.id]"></button>
                    <button pButton  class="espaco-icones" icon="pi pi-trash"
                    pTooltip="Excluir" tooltipPosition="top" (click)="delete(product)"></button>
                 </td>
              </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3">
                Nenhum Produto encontrado
              </td>
            </tr>

          </ng-template>
      </p-table>
      </div>



    </div>

  </div>
