<nav class="navbar" >

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="drawer.toggle()"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>
</nav>


  <mat-sidenav-container>
    <mat-sidenav #drawer mode="push" disableClose="false" >
      <mat-nav-list class="navbar-menu">
        <a mat-list-item routerLink='/ChickenLineages' class="navbar-menuitem" routerLinkActive="active">Linhagens</a>
        <a mat-list-item routerLink='/Sheds' class="navbar-menuitem" routerLinkActive="active">Galpões</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

