
<nav class="navbar" >

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Bruno Monti</li>
    <li class="navbar-menuitem" routerLinkActive="active"><a routerLink="/ChickenLineages">Linhagens</a></li>
    <li class="navbar-menuitem" routerLinkActive="active"><a routerLink="/Sheds">Galpões</a></li>
    <li class="navbar-menuitem"><a href="javascript:;">Lotes</a></li>
    <li class="navbar-menuitem"><a href="javascript:;">Crescimento</a></li>
    <li class="navbar-menuitem"><a href="javascript:;">Produção</a></li>
  </ul>

</nav>
