<!-- <nav class="navbar" >

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Bruno Monti</li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/Dashboard">Dashboard</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/ChickenLineages">Linhagens</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/Sheds">Galpões</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/ChickenLots">Lotes de Aves</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/CreationMonitorings">Crescimento</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/ProductionMonitorings">Produção</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/EggLots">Lotes de Ovos</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/EggBases">Matéria Prima</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/Classifications">Classificação</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/Packings">Embalagens</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/Products">Produtos</a></li>
  </ul>

</nav> -->


  <!-- <p-menubar [model]="items"  [style]="{'background-color': '#1e94d2', 'color': '#ffffff'}" >
    <div>
         <button pButton label="Logout" icon="pi pi-power-off" style="margin-left:0.25em"></button>
    </div>
  </p-menubar> -->

  <nav class="navbar" >
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a  href="javascript:;" class="navbar-toggle" (click)="showMenu = !showMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>
</nav>

<mat-sidenav-container style="height:100%">
  <mat-sidenav mode="side" [(opened)] = "showMenu" >
    <p-panelMenu [model]="items" class="navbar-menuitem"></p-panelMenu>
  </mat-sidenav>
  <mat-sidenav-content style="width:auto">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- <mat-toolbar color="warn">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list class="navbar-menu">
      <a mat-list-item routerLink='/ChickenLineages'>Linhagens</a>
      <a mat-list-item routerLink='/Sheds'>Galpões</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

