<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)=save(f)>

    <div class="ui-g">
      <div class="ui-g-12">
        <h1> {{ editing ? 'Editar' : 'Novo'}} Ovos de Matéria Prima</h1>
      </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Produção</label>
          <p-calendar dateFormat="dd/mm/yy" name="productionDate"
            [(ngModel)]="eggBase.productionDate"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Validade</label>
          <p-calendar dateFormat="dd/mm/yy" name="validityDate"
            [(ngModel)]="eggBase.validityDate"></p-calendar>
        </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Quantidade</label>
        <input pInputText type="text" name="quantity"
          [(ngModel)]="eggBase.quantity"
          required>
      </div>


    <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Lote de Ovos</label>
        <p-dropdown name="eggLot" [options]="eggLots" placeholder="Selecione"
          [filter]="true"
          [(ngModel)]="eggBase.eggLot.id"
          required></p-dropdown>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
        (click)="new(f)"></button>
        <a routerLink="/EggBases">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
