<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)=save(f)>

    <div class="ui-g">
      <div class="ui-g-12">
        <h1> {{ editing ? 'Editar' : 'Novo'}} Produto</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Tipo</label>
        <p-dropdown name="eggType" [options]="eggTypes" placeholder="Selecione"
          [filter]="true"
          [(ngModel)]="product.eggType.id"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Embalagem</label>
          <p-dropdown name="packing" [options]="packings" placeholder="Selecione"
            [filter]="true"
            [(ngModel)]="product.packing.id"
            required></p-dropdown>
        </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class="espaco-icones"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
        (click)="new(f)"></button>
        <a routerLink="/Products">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>

