<div class="container">
  <div class="ui-g">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="findByFilter()">

      <div class="ui-g-12">
        <h1>Galpões</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Galpão</label>
        <input pInputText type="text" name="shed" [(ngModel)]="filter.name">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" class="espaco-icones"></button>
        <button pButton type="button" label="Limpar" class="espaco-icones"
        (click)="new(f)"></button>
      </div>
  </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="sheds" [paginator]="true" [rows]="filter.itensByPage"
      [lazy]="true" [totalRecords]="totalRegisters" (onLazyLoad)="onChangePage($event)"
      [responsive]="true" #table>
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Capacidade</th>
                <th>Modelo</th>
                <th>Fabricante</th>
                <th>Ações</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-shed>
            <tr>
                <td class="col-data" >{{shed.name}}</td>
                <td class="col-data">{{shed.type}}</td>
                <td class="col-data">{{shed.capacity}}</td>
                <td class="col-data" >{{shed.model}}</td>
                <td class="col-data">{{shed.shedManufacturer.manufacturer}}</td>
                <td class="col-acoes" >
                  <a pButton class="espaco-icones" icon="pi pi-pencil"
                  pTooltip="Editar" tooltipPosition="top"
                  [routerLink]="['/Sheds', shed.id]"></a>
                  <button pButton class="espaco-icones" icon="pi pi-trash"
                  pTooltip="Excluir" tooltipPosition="top" (click)="delete(shed)"></button>
               </td>
            </tr>
        </ng-template>

      <ng-template pTemplate="emptymessage">
          Nenhum galpão encontrada
      </ng-template>
    </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Galpão" routerLink="/Sheds/new"></a>
    </div>

  </div>

</div>
